<section class="favorites-hero">
  <div class="container fav-wrapper js-fav-wrapper">
    <picture class="js-hero-img hero-img">
      <!-- Desktop -->
      <source
        media="(min-width: 1280px)"
        srcset="
          ../img/favorites-images/img_desk@1x.webp 1x,
          ../img/favorites-images/img_desk@2x.webp 2x
        "
        type="image/jpg"
      />
      <source
        media="(min-width: 1280px)"
        srcset="
          ../img/favorites-images/img_desk@1x.jpg 1x,
          ../img/favorites-images/img_desk@2x.jpg 2x
        "
        type="image/jpg"
      />
      <!-- Tablet -->
      <source
        media="(min-width: 768px)"
        srcset="
          ../img/favorites-images/img_tablet@1x.webp 1x,
          ../img/favorites-images/img_tablet@2x.webp 2x
        "
        type="image/jpg"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ../img/favorites-images/img_tablet@1x.jpg 1x,
          ../img/favorites-images/img_tablet@2x.jpg 2x
        "
        type="image/jpg"
      />
      <!-- Mobile -->
      <source
        media="(max-width: 767px)"
        srcset="
          ../img/favorites-images/img_mob@1x.webp 1x,
          ../img/favorites-images/img_mob@2x.webp 2x
        "
        type="image/jpg"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ../img/favorites-images/img_mob@1x.jpg 1x,
          ../img/favorites-images/img_mob@2x.jpg 2x
        "
        type="image/jpg"
      />

      <img src="../img/favorites-images/img_desk@1x.jpg" alt="" />
    </picture>
  </div>
</section>
<section class="favorites-list-section">
  <div class="container">
    <div class="categories-list-container js-categories-container"></div>
    <ul class="js-list-fav list-fav"></ul>
  </div>
</section>
