<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg class="menu-close-btn" width="32" height="32">
      <use href="./img/icons.svg#x-mobile-menu"></use>
    </svg>
  </button>

  <ul class="mobile-menu list">
    <li class="mobile-menu-item">
      <a href="./index.html" class="mobile-link">Home</a>
    </li>
    <li class="mobile-menu-item">
      <a href="./favorites.html" class="mobile-link">Favorites</a>
    </li>
  </ul>
  <div class="switch-theme-hamburger">
    <input class="switcher" type="checkbox" id="switch-hamburger" />
    <label class="label-switcher" for="switch-hamburger">Toggle</label>
  </div>
</div>
