<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg class="menu-close-btn" width="32" height="32">
      <use href="../img/icons.svg#x-mobile-menu"></use>
    </svg>
  </button>

  <ul class="mobile-menu list">
    <li class="mobile-menu-item">
      <a href="../index.html" class="mobile-link">Home</a>
    </li>
    <li class="mobile-menu-item">
      <a href="../favorites.html" class="mobile-link">Favorites</a>
    </li>
  </ul>

  <a class="link switch-theme" href="#">
    <svg class="switch-icon" width="46" height="20">
      <use href="../img/icons.svg#switch-grey" width="46" height="20"></use>
    </svg>
  </a>
</div>
