<!-- visually-hidden -->
<section class="backdrop-recipe-info js-modal-recipe" data-modal>
  <div class="modal-container modal-recipe">
    <div class="js-create-modal">



      <h2 class="name-recipe-tablet">Fish pie</h2>
        <div>
          <iframe
            class="video-recipe"
            width="295"
            height="295"
            src="https://www.youtube.com/embed/2sX4fCgg-UI"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
          <img
            class="video-recipe visually-hidden"
            width="295"
            height="295"
            src="https://www.themealdb.com/images/media/meals/ysxwuq1487323065.jpg"
            alt="Fish pie"
          />
        </div>
        <h2 class="name-recipe">Fish pie</h2>

        <div class="tag-and-reting" >
          <div class="tags-modal-tablet"><p class="tag-modal">#Fish</p> <p class="tag-modal">#Pie</p> <p class="tag-modal">#Breakfast</p> <p class="tag-modal">#Baking</p>
          </div>
  
          <div class="modal-rating">
            <p class="number-reting">4.21</p>
            <div>
              <svg class="reting-stars star-filled" width="18" height="18">
                <use href="../img/icons.svg#star"></use>
              </svg>
              <svg class="reting-stars star-filled" width="18" height="18">
                <use href="../img/icons.svg#star"></use>
              </svg>
              <svg class="reting-stars star-filled" width="18" height="18">
                <use href="../img/icons.svg#star"></use>
              </svg>
              <svg class="reting-stars star-filled" width="18" height="18">
                <use href="../img/icons.svg#star"></use>
              </svg>
              <svg class="reting-stars" width="18" height="18">
                <use href="../img/icons.svg#star"></use>
              </svg>
            </div>
            <p class="time-cook">75min</p>
          </div>
        </div>
  
        <div class="recipe-ingredients">
          <ul>
    <li class="ingredient" >
      <p>Floury Potatoes</p>
      <p class="measure-ingredients">900g</p>
    </li>
    <li class="ingredient" >
      <p>Olive Oil</p>
      <p class="measure-ingredients">2 tbsp</p>
    </li>
    <li class="ingredient" >
      <p>Semi-skimmed Milk</p>
      <p class="measure-ingredients">600ml</p>
    </li>
    <li class="ingredient" >
      <p>White Fish Fillets</p>
      <p class="measure-ingredients">800g</p>
    </li>
    <li class="ingredient" >
      <p>Plain Flour</p>
      <p class="measure-ingredients">1 tbsp</p>
    </li>
    <li class="ingredient" >
      <p>Nutmeg</p>
      <p class="measure-ingredients">Grating</p>
    </li>
    <li class="ingredient" >
      <p>Double Cream</p>
      <p class="measure-ingredients">3 tbsp</p>
    </li>
    <li class="ingredient" >
      <p>Jerusalem Artichokes</p>
      <p class="measure-ingredients">200g</p>
    </li>
    <li class="ingredient" >
      <p>Leek</p>
      <p class="measure-ingredients">1 finely sliced</p>
    </li>
    <li class="ingredient" >
      <p>Prawns</p>
      <p class="measure-ingredients">200g peeled raw</p>
    </li>
    <li class="ingredient" >
      <p>Parsley</p>
      <p class="measure-ingredients">Large handful</p>
    </li>
    <li class="ingredient" >
      <p>Dill</p>
      <p class="measure-ingredients">Handful</p>
    </li>
    <li class="ingredient" >
      <p>Lemon</p>
      <p class="measure-ingredients">Grated zest of 1</p>
    </li>
    <li class="ingredient" >
      <p>Gruyère</p>
      <p class="measure-ingredients">25g grated</p>
    </li>
          </ul>
        </div>
  
        <div class="tags-modal"><p class="tag-modal">#Fish</p> <p class="tag-modal">#Pie</p> <p class="tag-modal">#Breakfast</p> <p class="tag-modal">#Baking</p>
        </div>
        <div class="instructions">
          <p>01.Put the potatoes in a large pan of cold salted water and bring to the boil. Lower the heat, cover, then simmer gently for 15 minutes until tender. Drain, then return to the pan over a low heat for 30 seconds to drive off any excess water. Mash with 1 tbsp olive oil, then season.<br>02.Meanwhile put the milk in a large sauté pan, add the fish and bring to the boil. Remove from the heat, cover and stand for 3 minutes. Remove the fish (reserving the milk) and pat dry with kitchen paper, then gently flake into an ovenproof dish, discarding the skin and any bones.
03.Heat the remaining oil in a pan, stir in the flour and cook for 30 seconds. Gradually stir in 200-250ml of the reserved milk (discard the rest). Grate in nutmeg, season, then bubble until thick. Stir in the cream.
04.Preheat the oven to 190°C/fan170°C/gas 5. Grate the artichokes and add to the dish with the leek, prawns and herbs. Stir the lemon zest and juice into the sauce, then pour over. Mix gently with a wooden spoon.
05.Spoon the mash onto the fish mixture, then use a fork to make peaks, which will crisp and brown as it cooks. Sprinkle over the cheese, then bake for 35-40 minutes until golden and bubbling. Serve with wilted greens.
          </p>
        </div>
  
      <button class="modal-button-favorite  add" data-id="6462a8f74c3d0ddd28897fc2" type="button">Add to favorite</button>
  
      <button class="modal-button" type="button">Give a rating</button>






    <button class="close-modal-recipe" type="button" data-modal-close>
      <svg class="close-modal-recipe-icon" width="20" height="20">
        <use href="../img/icons.svg#x-modal"></use>
      </svg>
    </button>
  </div>
</section>
