
<!-- visually-hidden -->
<section class="backdrop-recipe-info js-modal-recipe" data-modal>
  <div class="modal-container modal-recipe-info">
    <div class="">
      <iframe
        width="295"
        height="295"
        src="https://www.youtube.com/embed/e52IL8zYmaE?si=4TLcYoGMNRBjz1MH"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <img
        width="295"
        height="295"
        src="https://www.themealdb.com/images/media/meals/wvqpwt1468339226.jpg"
        alt=""
      />
      <h2>Mediterranean Pasta Salad</h2>
      <div class="rating">
        <p>4.03</p>
        <svg class="" width="18" height="18">
          <use href="../img/icons.svg#heart"></use>
        </svg>
        <svg class="" width="18" height="18">
          <use href="../img/icons.svg#heart"></use>
        </svg>
        <svg class="" width="18" height="18">
          <use href="../img/icons.svg#heart"></use>
        </svg>
        <svg class="" width="18" height="18">
          <use href="../img/icons.svg#heart"></use>
        </svg>
        <svg class="" width="18" height="18">
          <use href="../img/icons.svg#heart"></use>
        </svg>
      </div>
      <p class="time-cook">27 min</p>
      <div class="ingredients">
        <ul>
          <li class="name-ingredients">Banana</li>
          <li cllass="measure-ingredients">1 large</li>
        </ul>
      </div>
      <div class="tags-modal">
        <p>#Pasta</p>
        <p>#Pasta</p>
        <p>#Pasta</p>
        <p>#Pasta</p>
      </div>
      <div class="instructions">
        <p>
          Bring a large saucepan of salted water to the boil\r\nAdd the pasta,
          stir once and cook for about 10 minutes or as directed on the
          packet. <br> Meanwhile, wash the tomatoes and cut into quarters. Slice
          the olives. Wash the basil.<br>Put the tomatoes into a salad bowl and
          tear the basil leaves over them. Add a tablespoon of olive oil and
          mix.<br>When the pasta is ready, drain into a colander and run cold
          water over it to cool it quickly.<br>Toss the pasta into the salad
          bowl with the tomatoes and basil.<br>Add the sliced olives, drained
          mozzarella balls, and chunks of tuna. Mix well and let the salad rest
          for at least half an hour to allow the flavours to mingle.<br>Sprinkle
          the pasta with a generous grind of black pepper and drizzle with the
          remaining olive oil just before serving.
        </p>
      </div>
    </div>

    <button class="close-modal-recipe" type="button">
      <svg class="close-modal-recipe-icon" width="20" height="20">
        <use href="../img/icons.svg#x-modal"></use>
      </svg>
    </button>

    <button class="button" type="button">Add to favorite</button>

    <button class="button" type="button">Give a rating</button>
  </div>
</section>
