<!-- Search input будет находиться в этом файле (вместе с фильтрами, если успеем) -->
<div class="right-part">
  <div class="user-interaction">
    <div class="user-search-btn">
      <p class="desc-input">Search</p>
      <div class="search-elements">
        <input
          class="search-input"
          type="text"
          name="userSearch"
          placeholder="Enter Text"
        />
        <button type="button" aria-label="search btn" class="search-btn">
          <svg class="search-svg" width="18px" height="18px">
            <use class="search-icon" href="./img/icons.svg#search"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="button-reset">
      <button class="btn-reset" type="button">
        <svg class="icon-reset" width="16px" height="16px">
          <use href="./img/icons.svg#x-search"></use>
        </svg>
        Reset the filter
      </button>
    </div>
  </div>
</div>
