:root {
  /* --primary-light-color: #f8f8f8;
  --primary-dark-color: #050505;
  --accent-color: #9bb537; */
  --switcher-shadow-color: #cecdcd;
}

.header {
  top: 0;
  width: 100%;
  z-index: 3;
  padding-top: 28px;
  margin-bottom: 50px;
}

@media only screen and (min-width: 1280px) {
  .header {
    padding-top: 40px;
    margin-bottom: 40px;
  }
}
.container {
  /* Basic */
  width: 100%;
  min-width: 320px;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  outline: 2px solid red;
  outline-offset: -2px;
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
/* Desctop */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: auto;
  height: 24px;
}

.logo-header {
  text-align: center;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.04em;
  color: var(--accent-color);
}
@media only screen and (min-width: 768px) {
  .logo {
    font-size: 18px;
    padding-top: 28px;
    padding-bottom: 50px;
  }
}
@media only screen and (min-width: 1280px) {
  .logo {
    padding: 40px 0;
  }
}
.header-nav {
  display: flex;
}

.nav-list {
  display: flex;
  gap: 16px;
}
@media only screen and (max-width: 376px) {
  .nav-list {
    display: none;
  }
}

.nav-item {
  font-size: 14px;
  display: flex;
  align-items: top;
}

.nav-link.active {
  color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

/* .active {
  color: var(--accent-color);
} */

/* .nav-link:active {
  color: var(--accent-color);
} */

.icon-container {
  display: flex;
  margin-left: auto;
  gap: 14px;
}

@media only screen and (min-width: 376px) {
  .icon-container {
    margin: 0;
    gap: 18px;
  }
}
@media only screen and (min-width: 769px) {
  .icon-container {
    gap: 24px;
  }
}

.shopping-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  stroke: var(--primary-dark-color);
}

.shopping-cart:hover .cart-icon {
  /* fill: var(--accent-color); */
  stroke: var(--accent-color);
}

/* .cart-icon {
  fill: var(--accent-color);
  stroke: var(--accent-color);
} */

.menu-toggle {
  min-height: 40px;
  min-width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.menu-icon {
  stroke: var(--primary-dark-color);
}

.menu-icon:hover {
  stroke: var(--accent-color);
}
@media only screen and (min-width: 376px) {
  .menu-toggle {
    display: none;
  }
}

.switch-theme {
  display: none;
}

@media only screen and (min-width: 376px) {
  .switch-theme {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 14px;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    filter: drop-shadow (10px 10px 10px var(--switcher-shadow-color));
  }
}

@media not(hover: hover) {
  menu-icon.active {
    color: var(--accent-color);
  }
}
