:root {
  /* --primary-light-color: #f8f8f8;
  --primary-dark-color: #050505;
  --accent-color: #9bb537; */
  --switcher-shadow-color: #cecdcd;
}

.header {
  top: 0;
  width: 100%;
  z-index: 3;
  padding-top: 28px;
  margin-bottom: 91.5px;
}

.switcher {
  height: 0;
  width: 0;
  visibility: hidden;
}

.label-switcher {
  cursor: pointer;
  text-indent: -9999px;
  width: 46px;
  height: 20px;
  background: #cecdcd;
  display: block;
  border-radius: 100px;
  position: relative;
}

.label-switcher:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 2px;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  transition: 0.4s;
}

.switcher:checked + .label-switcher {
  background: var(--accent-color);
}

.switcher:checked + .label-switcher:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.switch-theme {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .header {
    margin-bottom: 93px;
  }
}

@media only screen and (min-width: 1280px) {
  .header {
    padding-top: 40px;
    margin-bottom: 100px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: auto;
  height: 24px;
}

.logo-header {
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.125;
  letter-spacing: -0.04em;
  padding-top: 28px;
  padding-bottom: 91px;
  color: var(--accent-color);
}

@media only screen and (min-width: 768px) {
  .logo-header {
    font-size: 18px;
  }

  .logo {
    font-size: 18px;
    line-height: 1.125;
    padding-bottom: 93px;
  }
}
@media only screen and (min-width: 1280px) {
  .logo {
    padding-top: 40px;
    margin-bottom: 40px;
  }
}
.header-nav {
  display: flex;
}

.nav-list {
  display: none;
}

@media only screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    gap: 16px;
  }
}

.nav-item {
  font-size: 14px;
  display: flex;
  align-items: top;
}
.nav-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.active {
  color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.icon-container {
  display: flex;
  margin-left: auto;
  gap: 14px;
}

@media only screen and (min-width: 768px) {
  .icon-container {
    margin: 0;
    gap: 24px;
  }
}

.shopping-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  stroke: var(--primary-dark-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.shopping-cart:hover .cart-icon {
  stroke: var(--accent-color);
}

.menu-toggle {
  min-height: 40px;
  min-width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.menu-icon {
  stroke: var(--primary-dark-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-icon:hover {
  stroke: var(--accent-color);
}
@media only screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

@media only screen and (max-width: 767.5px) {
  .switch-theme {
    display: none;
  }
}

/* @media only screen and (min-width: 376px) { */
.switch-icon {
  transform: scale(1.58) translateY(-2px);
  width: 46px;
  height: 20px;
  display: flex;
  gap: 14px;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  filter: drop-shadow(3px 3px 4px var(--switcher-shadow-color));
}
/* } */

@media not(hover: hover) {
  menu-icon.active {
    color: var(--accent-color);
  }
}
