
.backdrop-recipe-info{
   background-color: black;
}
.modal-container{
    width: 335px;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;

    border-radius: 8px;
    background-color: var(--additional-light-color)
  }




/* ---------Mobile---------- */
@media screen and (min-width: 375px) {
    .container {
      width: 335px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  /* ---------Tablet---------- */
  @media screen and (min-width: 768px) {
      .container {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
      }
  }
  
  /* ----------Desktop-------- */
  @media screen and (min-width: 1280px) {
    .container {
      width: 1280px;
      padding-left: 100px;
      padding-right: 100px;
    }
  }