.user-search-btn {
  margin-bottom: 14px;
}

.desc-input {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  color: rgba(5, 5, 5, 0.5);
}
/* Tablet 768+*/
@media screen and (min-width: 768px) {
  .desc-input {
    font-size: 14px;
    line-height: 1.29;
  }
}
.search-input {
  width: 335px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  min-height: 46px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 48px;
  background-color: var(--primary-light-color);
  outline: 0;
}

.search-input:hover,
.search-input:focus,
.search-input:active {
  color: var(--primary-dark-color);
}

.search-input::placeholder {
  color: rgba(5, 5, 5, 0.5);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
}
/* Tablet 768+*/
@media screen and (min-width: 768px) {
  .search-input {
    width: 278px;
    min-height: 48px;
  }
}
@media screen and (min-width: 768px) {
  .search-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
  }
}
.search-btn {
  background-color: var(--primary-light-color);
  outline: 0;
  border: none;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 15px;
  left: 15px;
}
.search-elements {
  position: relative;
}
.search-svg {
  fill: rgba(5, 5, 5, 0.5);
}

.search-input:hover ~ .search-btn .search-svg,
.search-input:focus ~ .search-btn .search-svg,
.search-input:active ~ .search-btn .search-svg {
  fill: var(--accent-color);
}

.icon-reset {
  fill: rgba(155, 181, 55, 1);
  color: rgba(155, 181, 55, 1);
}

.btn-reset {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  gap: 4px;
  color: rgba(5, 5, 5, 0.5);
  background-color: transparent;
  border: none;
  display: flex;
  margin-left: auto;
}
